TOKEN=YOUR_BOT_TOKEN_HERE
PREFIX=YOUR_BOT_PREFIX_HERE
INVITE_LINK=YOUR_BOT_INVITE_LINK_HERE
POCKETBASE_URL=https://api-react.pikapod.net
POCKETBASE_ADMIN_EMAIL=YOUR_POCKETBASE_ADMIN_EMAIL
POCKETBASE_ADMIN_PASSWORD=YOUR_POCKETBASE_ADMIN_PASSWORD
